// Main Blocks

.header {
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 22px 0;

  &_static {
    position: unset;
    top: unset;
    left: unset;
    background-color: $white;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 130px;
  }

  &__nav {
    margin-left: -115px;

    @media (max-width: 1200px) {
      margin: 0;
    }
  }

  &__contacts {
    &:not(&_adaptive) {
      @media (max-width: 991px) {
        display: none;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 36px;
      @media (max-width: 991px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 12px;
      transition: color .2s ease-in-out;
      &:hover,
      &:focus-visible,
      &:active {
        .header__contacts-value {
          color: $primary;
        }
      }
      @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;
      }
    }

    &-icon {
      width: 40px;
      height: 40px;
      fill: $primary;
    }

    &-text {
      display: flex;
      flex-direction: column;
    }

    &-title {
      @extend %small-bold;
      color: $gray800;
    }

    &-value {
      @extend %large-regular;
      color: $gray900;
      transition: color .2s ease-in-out;
    }
  }
}

.discuss {
  padding: 80px 0;
  background: url('@img/global/contacts/bg-image.jpg') no-repeat center / cover;

  &__container {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__content {
    width: 495px;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    background-color: $white;
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
    @media (max-width: 768px) {
      padding: 24px 20px;
    }
  }

  &__title {
    text-align: center;
    @extend %h3;
    color: $gray900;
    margin-bottom: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-btn {
      align-self: center;
      margin-top: 4px;
    }
  }
}

.footer {
  padding: 80px 0;
  background: $gray900;
  color: rgba($white, .6);

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    gap: 60px;
    justify-content: space-between;
    margin-bottom: 50px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__momentous {
    flex-shrink: 2;
    max-width: 493px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__logo-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px 60px;
  }

  &__logo {
    width: 142px;
  }

  &__social {
    &-list {
      display: flex;
      align-items: center;
      gap: 16px
    }

    &-link {
      fill: rgba($white, .6);
      transition: fill .3s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        fill: $primary;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }

  &__desc {
    @extend %small-regular;
  }

  &__feedback {
    max-width: 495px;

    &-title {
      @extend %h4;
      color: $white;
      margin-bottom: 26px;
    }

    &-form {
      display: flex;
      margin-bottom: 16px;
    }

    &-field {
      width: 100%;

      input {
        background: rgba($white, .12);
        border-color: rgba($white, .2);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: $white;

        &::placeholder {
          color: rgba($white, 0.6);
        }
      }
    }

    &-btn {
      padding: 0 25px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

    }

    &-desc {
      @extend %extrasmall-regular;
    }
  }

  &__block-title {
    margin-bottom: 13px;
    @extend %h6;
    color: $white;
    text-transform: uppercase;
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-item {
      @extend %base-regular;

      &>* {
        display: inline;
      }
    }

    &-title {
      color: $white;
    }

    &-link:hover,
    &-link:focus-visible,
    &-link:active {
      transition: color .2s ease-in-out;
      color: rgba($primary, .8);
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px 125px;
    margin-bottom: 60px;
  }

  &__nav {
    flex: none;
    &-block {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 50px 125px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
      @extend %base-regular;
    }

    &-link {
      transition: color .2s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        color: $primary;
      }
    }
  }

  &__copyright {
    @extend %extrasmall-regular;
    &>* {
      display: inline;
      vertical-align: middle;
    }

    &-icon {
      width: 16px;
      height: 16px;
      fill: $primary;
    }
  }
}

.sections-block {
  &-gray200 {
    position: relative;
    background-color: $gray200;
  }

  &-index-img {
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -95px;
      left: -630px;
      transform: rotate(127deg);
      width: 1066px;
      height: 859px;
      opacity: .3;
      background: url('@img/global/bg.png') no-repeat center / contain;
    }
  }
}



// Frequently Used Sections

.benefits {
  $benefits-gap: 94px;
  color: $gray700;

  &_dark {
    background-color: $gray900;
    color: rgba($white, .6);

    .benefits__title,
    .benefits__item-title {
      color: $white;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 24px;
  }

  &__desc {
    @extend %large-regular;
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $benefits-gap * 2;

    @media (max-width: 1200px) {
      gap: 80px;
    }

    @media (max-width: 768px) {
      grid-template-columns: 285px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: calc(-1 * $benefits-gap);

      @media (max-width: 1200px) {
        right: calc(-1 * 40px);
      }

      height: 100%;
      width: 1px;
      background: url('@img/global/benefits/divider.svg') no-repeat center / contain;
    }

    &:last-child::after,
    &:nth-child(3n)::after {
      content: unset;
    }

    @media (max-width: 768px) {
      &::after {
        content: unset;
      }
    }

    &-icon {
      width: 48px;
      height: 48px;
      fill: $primary;
      margin-bottom: 24px;
    }

    &-title {
      @extend %lead-bold;
      color: $gray900;
      margin-bottom: 8px;
    }

    &-desc {
      @extend %base-regular;
    }
  }
}

.projects {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__title {
    align-self: flex-start;
    @extend %h1;
    text-align: left;
    max-width: 705px;
    color: $gray900;
    margin-bottom: 60px;

    @media (max-width: 1200px) {
      max-width: 550px;
    }
  }

  &__swiper {
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
    overflow: unset;
    overflow-x: clip;

    .swiper-buttons-block {
      position: absolute;
      right: 0;
      top: -96px;
      display: flex;
      align-items: center;
      order: -1;
      @media (max-width: 768px) {
        top: -55px;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      width: 48px;
      height: 48px;
      margin: 0;
      fill: $gray800;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color .4s ease-in-out,
        fill .4s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $primary;
        fill: $white;
      }

      &:disabled {
        background-color: transparent;
        fill: $gray800;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.partners {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    margin-bottom: 60px;
    color: $gray900;
  }

  &__desc {
    @extend %large-regular;
    color: $gray700;
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
    gap: 38px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 991px) {
      justify-content: center;
    }
  }

  &__link {
    &:hover,
    &:focus-visible,
    &:active {
      .partners__img {
        filter: grayscale(0);
      }
    }
  }

  &__img {
    width: 100%;
    height: 64px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;
  }
}

.review {
  &__container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between;

    @media (max-width: 991px) {
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  }

  &__content {
    text-align: left;
    max-width: 600px;
    @media (max-width: 768px) {
      max-width: unset;
      width: 100%;
      text-align: center;
    }
  }

  &__title {
    @extend %h1;
    margin-bottom: 60px;
    color: $gray900;
  }

  &__swiper {
    text-align: left;
    .swiper-buttons-block {
      margin-top: -36px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: auto;
      height: auto;
      @media (max-width: 576px) {
        margin: 0;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      width: 48px;
      height: 48px;
      margin: 0;
      fill: $gray800;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color .4s ease-in-out,
        fill .4s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $primary;
        fill: $white;
      }

      &:disabled {
        background-color: transparent;
        fill: $gray800;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__avatar {
    &-wrap {
      margin-bottom: 24px;
    }

    border-radius: 50%;
    width: 72px;
    height: 72px;
    object-fit: contain;
  }

  &__comment {
    @extend %base-regular;
    color: $gray800;
    margin-bottom: 24px;
  }

  &__name-position {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__name {
    @extend %base-bold;
    color: $gray900;
  }

  &__position {
    @extend %small-regular;
    color: $gray700;
  }

  &__img {
    &-wrap {
      margin-top: auto;
      width: 495px;
      margin-bottom: -60px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    padding-bottom: 111.11%;
    background: url('@img/global/review/image.jpg') no-repeat center / cover;
    border-radius: 4px;
  }
}

.hero {
  overflow: hidden;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: $gray200;
  padding-bottom: 80px;
  @media (max-width: 1200px) {
    background-image: none !important;
  }
  @media (max-width: 768px) {
    min-height: 400px;
    padding-bottom: 60px;
  }
  &__container {
    padding-top: 152px;
    display: flex;
    flex-direction: column;
  }

  &__content {
    max-width: 600px
  }

  &__title {
    @extend %display-1;
    text-transform: uppercase;
    color: $gray900;
    margin-bottom: 24px;
  }

  &__desc {
    @extend %lead-regular;
    color: $gray700;
  }
}

// Obyny Sections

// Index
.banner {
  &__swiper {
    position: relative;
    width: 100%;
    height: auto;

    .swiper-pagination {
      position: absolute;
      bottom: 120px;
      left: calc((100vw - 1230px) / 2);
      z-index: 10;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px 4px;
      width: auto;
      height: auto;
      color: $white;

      @media (max-width: 1450px) {
        left: 3%;
      }

      @media (max-width: 1200px) {
        left: 15px;
      }

      @media (max-width: 768px) {
        display: none;
      }

      &-bullet {
        display: flex;
        flex-direction: column;
        gap: 12px;
        color: rgba($white, .6);
        @extend %h3;
        transition: color .3s ease-in-out,
          outline-color .3s ease-in-out;
        outline: 2px solid transparent;
        border-radius: 3px;

        &:focus-visible {
          outline-color: $white;
        }

        &-active {
          color: $white;

          .swiper-pagination-bullet-bar::after {
            animation: fill-bar 1s ease-in-out 1;
            width: 100%;
          }
        }

        &-bar {
          position: relative;
          width: 178px;
          height: 2px;
          border-radius: 2px;
          background-color: rgba($white, .6);
          transition: background-color .3s ease-in-out;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: $white;
          }
        }

      }
    }

    .swiper-button-prev {
      left: 32px;
    }

    .swiper-button-next {
      right: 32px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background-color: rgba($white, .5);
      border-radius: 50%;
      transition: background-color .3s ease-in-out;

      @media (max-width: 1450px) {
        display: none;
      }

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $white;
      }

      svg {
        width: 24px;
        height: 24px;
        fill: $gray800;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 988px;
    color: $white;
  }

  &__bg {
    &_1 {
      background: linear-gradient(0deg, rgba(30, 33, 44, 0.6), rgba(30, 33, 44, 0.6)),
        url('@img/index/hero/bg-image.jpg') no-repeat center / cover;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    margin-top: -132px;
  }

  &__title {
    @extend %display-1;
    max-width: 600px;
    margin-bottom: 24px;
    text-transform: uppercase;

    &_orange {
      color: $primary;
    }
  }

  &__desc {
    @extend %lead-regular;
    color: $white;
    max-width: 595px;
    margin-bottom: 61px;
  }

  &__btn-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
  }
}

.presentation {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 24px;
  }

  &__desc {
    @extend %large-regular;
    margin-bottom: 60px;
    color: $gray700;
  }
}

.serve {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    margin-bottom: 24px;
    color: $gray900;
  }

  &__desc {
    @extend %large-regular;
    color: $gray700;
    margin-bottom: 60px;
  }

  &__list {
    width: 100%;
    gap: 30px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  }

  &__item {
    display: flex;

    &-link {
      position: relative;
      width: 100%;
      padding: 90px 0;
      background-color: $white;
      background-image: url('@img/index/services/white.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
      border: 1px solid $gray300;
      border-radius: 4px;
      transition: background-image .4s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border-radius: 4px;
        transition: background-color .4s ease-in-out;
      }

      &:hover,
      &:focus-visible,
      &:active {
        background-image: url('@img/index/services/item-bg-1.jpg');

        &::before {
          background-color: rgba($gray900, .6);
        }

        .serve__item-icon {
          fill: $white;
        }

        .serve__item-title {
          color: $white;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      position: relative;
      z-index: 2;
    }

    &-icon {
      width: 52px;
      height: 52px;
      fill: $primary;
      transition: fill .4s ease-in-out
    }

    &-title {
      @extend %lead-bold;
      color: $gray900;
      transition: color .2s ease-in
    }
  }
}

.statistics {
  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 46px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &-title {
      order: 2;
      @extend %small-regular;
      color: $gray900;
    }
  }

  &__stat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__percent {
    position: absolute;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    transform: translate(-50%, -50%);
    @extend %h2;
    color: $gray900;
  }

  &__progress {
    display: block;
    font-size: 0;

    circle {
      transform: translate(0, 100%) rotate(-90deg);
    }
  }

  $colors: $warning,
  #f52f6e,
  $info,
  #03cea4;

  $i: 1;

  @each $color in $colors {
    &__progress_#{$i} {
      circle {
        stroke: $color;
      }

      $i: $i+1;
    }
  }
}

.newsy {
  &__container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: 57.32% 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    text-align: left;
    width: 100%;
    margin-bottom: 80px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fit, minmax(495px, 1fr));
      justify-content: center;
      grid-template-rows: auto;
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;

    &:first-child,
    &:nth-child(4n) {
      grid-row: span 2;

      @media (max-width: 1200px) {
        grid-row: unset;
      }
      .newsy__item-title {
        margin-bottom: 12px;
      }

      .newsy__text-block {
        padding: 24px;
      }
    }

    &-title {
      @extend %lead-bold;
      color: $gray900;
      margin-bottom: 8px;
    }
  }

  &__img {
    min-height: 156px;
    flex-grow: 1;
    border-radius: 4px 4px 0px 0px;

    @for $i from 1 through 3 {
      &_#{$i} {
        background: url('@img/index/newsy/image-#{$i}.jpg') no-repeat center / cover;
      }
    }
    @media (max-width: 1200px) {
      min-height: 250px;
    }
    @media (max-width: 576px) {
      min-height: 150px;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-top: 16px;
    background-color: $white;
    border-radius: 4px;
  }

  &__link {
    transition: color .2s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      color: $primary;
    }
  }
}


// Services
.maintenance {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 120px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    &:nth-child(even) {
      .maintenance__img-wrap {
        order: 1;
        @media (max-width: 991px) {
          order: unset;
        }
      }
    }

    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__img {
    &-wrap {
      max-width: 575px;
      width: 100%;
      @media (max-width: 991px) {
        max-width: 100%;
      }
    }

    padding-bottom: 73.05%;

    @for $i from 1 through 4 {
      &_#{$i} {
        background: url('@img/services/item-img-#{$i}.jpg') no-repeat center / cover;
      }
    }
  }

  &__content {
    max-width: 575px;
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }

  &__heading {
    @extend %h2;
    color: $gray900;
    margin-bottom: 24px;
    @media (max-width: 991px) {
      margin-bottom: 12px;
    }
  }

  &__expostion {
    @extend %base-regular;
    color: $gray700;
    margin-bottom: 48px;
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
  }
}


// Services-1
.offer {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: unset;
    }
  }

  &__img {
    &-wrap {
      max-width: 705px;
      width: 100%;
      @media (max-width: 1200px) {
        order: 1;
      }
    }

    padding-bottom: 62.42%;
    background: url('@img/services/services-1/offer-img.jpg') no-repeat center / cover;
  }

  &__content {
    max-width: 420px;
    @media (max-width: 1200px) {
      max-width: 705px;
    }
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 60px;
  }
}

.steps {
  &__container {
    display: flex;
    flex-direction: column
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 50px;
  }

  &__list {
    counter-reset: section;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 30px
  }

  &__item {
    &:hover {
      .steps__counter::before {
        color: $primary;
        background-color: rgba($primary, .12);
        outline-color: rgba($primary, .06);
      }
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 4px;
    margin-left: -12px;

    &::before {
      counter-increment: section;
      content: "0" counter(section);
      @extend %h1;
      color: $gray400;
      padding: 12px 15px;
      outline: 16px solid transparent;
      border-radius: 50%;
      transition: color .2s ease-in-out,
        background-color .2s ease-in-out,
        outline-color .2s ease-in-out;
    }

    &::after {
      content: '';
      height: 1px;
      width: 100%;
      border-bottom: 1px dashed $gray400;
    }
  }

  &__heading {
    @extend %lead-bold;
    color: $gray900;
    margin-bottom: 8px;
  }

  &__desc {
    @extend %base-regular;
    color: $gray700;
  }
}

.pricing {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 24px;
  }

  &__desc {
    @extend %large-regular;
    color: $gray700;
    margin-bottom: 60px;
  }
}


// Work
.works {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__category {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 230px);
    gap: 20px;
    margin-bottom: 120px;
    margin-top: -60px;
    @media (max-width: 768px) {
      margin-top: -15px;
      margin-bottom: 60px;
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }

    &-btn {
      width: 100%;
      height: 154px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      background-color: $white;
      box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
      border-radius: 4px;
      transition: background-color .3s ease-in-out,
        box-shadow .3s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        background-color: lighten($primary, 10%);
        box-shadow: 0px 60px 80px -20px rgba(255, 90, 48, 0.16), 0px 26px 24px -10px rgba(255, 90, 48, 0.1), 0px 12px 10px -6px rgba(255, 90, 48, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);

        .works__category-icon {
          fill: $white;
        }

        .works__category-title {
          color: $white;
        }
      }

      &_active {
        background-color: $primary;
        box-shadow: 0px 60px 80px -20px rgba(255, 90, 48, 0.16), 0px 26px 24px -10px rgba(255, 90, 48, 0.1), 0px 12px 10px -6px rgba(255, 90, 48, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);

        .works__category-icon {
          fill: $white;
        }

        .works__category-title {
          color: $white;
        }
      }
    }

    &-icon {
      width: 48px;
      height: 48px;
      fill: $primary;
      transition: fill .3s ease-in-out;
    }

    &-title {
      @extend %base-bold;
      color: $gray600;
      transition: color .3s ease-in-out;
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px,1fr));
    gap: 30px;
    margin-bottom: 60px;
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  &__load {
    display: flex;
    align-items: center;
    gap: 16px;
    color: $gray800;
    fill: $gray800;

    &:hover,
    &:focus-visible,
    &:active {
      .works__load-icon {
        animation: rotate .7s ease-in-out 1;
        fill: $primary;
      }

      .works__load-text {
        color: $primary;
      }
    }

    &-text {
      @extend %base-bold;
      transition: color .2s ease-in-out;
    }

    &-icon {
      width: 24px;
      height: 24px;
      transition: fill .2s ease-in-out;
    }
  }
}


// Work-1
.info {
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px 15px;
  }

  &__about {
    max-width: 600px;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 40px;
  }

  &__desc {
    &-block {
      display: flex;
      flex-direction: column;
      gap: 27px;
    }

    @extend %large-regular;
    color: $gray800;
  }

  &__characteristic {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 40px 60px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    @media (max-width: 768px) {
      padding: 20px 15px;
    }
    &-item {
      display: flex;
    }

    &-title {
      flex: none;
      @extend %base-bold;
      width: 137px;
      text-transform: uppercase;
      color: $gray900;
    }

    &-desc {
      @extend %base-regular;
      color: $gray700;
    }
  }
}

.decisions {
  padding-top: 80px;
  background-color: $gray200;
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 40px 20px;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;
    }
  }

  &__img {
    &-wrap {
      margin-bottom: -60px;
      max-width: 495px;
      width: 100%;
      @media (max-width: 991px) {
        display: none;
      }
    }

    background: url('@img/work/work-1/decisions.jpg') no-repeat center / cover;
    padding-bottom: 111.12%;
    border-radius: 4px
  }

  &__content {
    flex: none;
    max-width: 600px;
    width: 100%;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 16px
  }

  &__icon {
    flex: none;
    width: 20px;
    height: 20px;
    fill: $primary;
  }

  &__desc {
    @extend %base-regular;
    color: $gray800;
  }
}


// About
.achieve {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(307px, 1fr));
    gap: 40px 0;
    justify-content: space-between;
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-icon {
      width: 48px;
      height: 48px;
      fill: $gray600;
      margin-bottom: 20px;
    }

    &-title {
      max-width: 240px;
      @extend %small-regular;
      color: $gray900;
      order: 1;
    }

    &-amount {
      @extend %h1;
      color: $primary;
      margin-bottom: 8px;
      &_sup {
        font-size: 30px;
      }
    }
  }

  &__quotation {
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 30px 0;
    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    width: 525px;
    margin-top: 120px;
    border-radius: 4px;
    @media (max-width: 1200px) {
      margin-top: 0;
    }
  }

  &__quote {
    color: $gray900;
    padding: 80px 105px 70px 80px;
    background: $white;
    display: flex;
    flex-direction: column;
    margin-left: -30px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    @media (max-width: 768px) {
      padding: 10px 0;
      margin: 0;
    }
    &-bottom {
      padding-left: 55px;
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 576px) {
        padding-left: 43px;
      }
    }
  }

  &__excerpt {
    &-wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-left: 55px;
      margin-bottom: 55px;
      @extend %lead-bold;
      @media (max-width: 576px) {
        padding-left: 43px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 28px;
        height: 20px;
        background: url('@img/global/braces.svg') no-repeat center / contain;
        @media (max-width: 576px) {
          padding: 20px 15px;
        }
      }
    }

  }

  &__name-actio {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__name {
    @extend %base-bold;
  }

  &__actio {
    @extend %small-regular;
    color: $gray700;
  }

  &__signature {
    width: 100px;
    height: 68px;
    background: url('@img/about/signature.svg') no-repeat center / contain;
  }
}

.history {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    text-align: left;
    @extend %h1;
    color: $gray900;
    margin-bottom: 60px;
  }

  &__nav {
    position: relative;
    padding-left: 40px;
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 3.5px;
      width: 1px;
      height: 100%;
      background-color: $gray600;
      border-radius: 50%;
    }

    &-item {
      position: relative;
    }

    &-btn {
      @extend %h3;
      color: $gray600;
      transition: color .2s ease-in-out;
      text-align: left;
      &::before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $gray600;
        transition: background-color .2s ease-in-out;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
        width: 8px;
        height: 16px;
        background-color: $gray200;
        transition: background-color .2s ease-in-out;
      }

      &:hover,
      &:focus-visible,
      &:active,
      &_active {
        color: $primary;

        &::before {
          background-color: $primary;
        }
      }

    }
  }

  &__swiper {
    margin: 0;
    text-align: left;
    width: 65.85%;

    &-item {
      display: flex;
      flex-direction: column;
    }

    &-img {
      border-radius: 4px;
      margin-bottom: 36px;
      max-height: 450px
    }

    &-desc {
      @extend %base-regular;
      color: $gray800;
    }
  }

  &__swiper {
    position: relative;
    width: 65.85%;
    overflow: unset;
    overflow-x: clip;
    @media (max-width: 768px) {
      margin-top: 58px;
      width: 100%;
    }
    .swiper-buttons-block {
      position: absolute;
      top: -96px;
      right: 0;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        top: -58px;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: static;
      width: 48px;
      height: 48px;
      margin: 0;
      fill: $gray800;
      background-color: transparent;
      border-radius: 50%;
      transition: background-color .4s ease-in-out,
        fill .4s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $primary;
        fill: $white;
      }

      &:disabled {
        background-color: transparent;
        fill: $gray800;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.team {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 24px;
  }

  &__desc {
    @extend %large-regular;
    color: $gray700;
    margin-bottom: 60px;
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 60px 30px;
    margin-bottom: 80px;
    @media (max-width: 768px) {

    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 4px;

    &:hover,
    &:focus-within {
      .team__social {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__img {
    &-wrap {
      position: relative;
      margin-bottom: 16px;
    }

    border-radius: 4px;
    height: 100%;
  }

  &__social {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 20px;
    background-color: rgba($primary, .7);
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in-out,
      visibility .3s ease-in-out;

    &-link {

      &:hover,
      &:focus-visible,
      &:active {
        .team__social-icon {
          fill: $info;
        }
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      fill: $white;
      transition: fill .2s ease-in-out;
    }
  }

  &__name {
    @extend %lead-bold;
    margin-bottom: 4px;
  }

  &__position {
    @extend %base-regular;
    color: $gray700;
  }

  &__info {
    @extend %large-regular;
  }

  &__link {
    color: $primary;
    text-decoration: underline;
  }
}

.worldwide {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 60px;
  }

  &__map {
    width: 100%;
  }
}


// Positions
.vacancy {
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 60px 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: auto;
    max-width: 705px;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 32px 40px;
    border-radius: 4px;
    border: 1px solid $gray300;
    transition: box-shadow .3s ease-in-out;
    @media (max-width: 576px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-btn {
      flex: none;
    }

    &-info {
      fill: $gray700;
      color: $gray700;

      &-block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 12px 24px;
      }

      display: flex;
      align-items: center;
      gap: 8px;

      &-icon {
        width: 16px;
        height: 16px;
      }

      &-text {
        @extend %small-regular;
      }
    }

    &-title {
      @extend %lead-bold;
    }
  }

  &__look {
    max-width: 390px;
    display: flex;
    flex-direction: column;

    &-title {
      @extend %h3;
      margin-bottom: 24px;
    }

    &-desc {
      @extend %large-regular;
      color: $gray800;
      margin-bottom: 48px;
    }

    &-btn {
      width: 100%;
      &-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        @media (max-width: 576px) {
          flex-direction: column;
        }
      }
    }
  }
}


// News
.categories {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    &-item {
      flex-grow: 1;
      min-width: 170px;
      flex-basis: 16.66%
    }

    &-btn {
      @extend %base-bold;
      width: 100%;
      padding: 10px 20px;
      color: $gray600;
      border: 1px solid transparent;
      border-radius: 4px;
      transition: color .3s ease-in-out,
        border-color .3s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        color: $primary;
      }

      &_active {
        border-color: $primary;
        color: $primary;
      }
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 60px 30px;
    text-align: left;
    margin-bottom: 60px;
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;

    &-title {
      @extend %lead-bold;
      color: $gray900;
      margin-bottom: 12px;
    }
  }

  &__img {
    min-height: 306px;
    flex-grow: 1;
    border-radius: 4px 4px 0px 0px;

    @for $i from 1 through 6 {
      &_#{$i} {
        background: url('@img/news/categories/image-#{$i}.jpg') no-repeat center / cover;
      }
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-bottom: 21px;
    background-color: $white;
    border-radius: 4px;
  }

  &__link {
    transition: color .2s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      color: $primary;
    }
  }

  &__pagination {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &-btn {
      padding: 0 10px;
      @extend %base-bold;
      color: $gray800;
      fill: $gray800;
      transition: color .2s ease-in-out,
        fill .2s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active,
      &_active {
        color: $primary;
        fill: $primary;
      }
    }

    &-icon {
      vertical-align: middle;
      width: 24px;
      height: 24px;
    }
  }
}


// Post
.article {
  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 27px;
    @extend %base-regular;
    color: $gray800;
    margin-bottom: 60px;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    h2 {
      @extend %lead-bold;
    }

    blockquote {
      display: flex;
      @extend %lead-bold;
      color: $gray900;
      margin: 19px 0;
      &::before {
        content: '';
        flex: none;
        width: 28px;
        height: 20px;
        margin-right: 30px;
        background: url('@img/global/braces.svg') no-repeat center / contain;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    li {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    svg {
      flex: none;
      width: 16px;
      height: 16px;
      fill: $primary;
    }
  }

  &__social {
    @extend %base-bold;

    &,
    &-list {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-link {
      fill: $gray700;
      transition: fill .3s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        fill: $primary;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;
    }
  }
}

.comments {
  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 60px;
    text-align: center;
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 30px;

    @media (max-width: 576px) {
      gap: 10px;
      flex-direction: column;
    }
  }

  &__left {
    flex: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 150px;
    width: 150px;
    @media (max-width: 576px) {
      width: 100%;
      gap: 4px;
    }
  }

  &__name {
    @extend %large-bold;
    color: $gray900;
  }

  &__time {
    @extend %small-regular;
    color: $gray700;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__text {
    @extend %base-regular;
    color: $gray800;

    & * {
      display: inline;
    }
  }

  &__answer-name {
    @extend %base-bold;
    color: $primary;
  }

  &__btn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    @extend %small-regular;
    color: $gray700;
    fill: $gray700;
    transition: color .3s ease-in-out,
      fill .3s ease-in-out;

    &:hover,
    &:focus-visible,
    &:active {
      color: $primary;
      fill: $primary;
    }

    &-icon {
      width: 16px;
      height: 16px;
    }
  }
}

.comment {
  &__title {
    text-align: center;
    @extend %h1;
    margin-bottom: 48px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__field {
    &-block {
      display: flex;
      flex-direction: column;
      gap: 22px;
      margin-bottom: 48px;
      width: 100%;
    }

    &-one-line {
      display: flex;
      align-items: center;
      gap: 30px;
      @media (max-width: 576px) {
        flex-direction: column;
      }
    }

    width: 100%;
  }
}

// Contacts
.shape {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 24px;
  }

  &__desc {
    @extend %large-regular;
    color: $gray700;
    margin-bottom: 60px;
  }

  &__content {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    text-align: left;
    @media (max-width: 991px) {
      justify-content: center;
    }
  }

  &__img {
    &-wrap {
      max-width: 495px;
      width: 100%;
      @media (max-width: 991px) {
        display: none;
      }
    }
    height: 100%;
    background: url('@img/contacts/woman.jpg') no-repeat center / cover;
    border-radius: 4px;
  }

  &__form {
    flex: none;
    max-width: 600px;
    width: 100%;
  }

  &__field {
    &-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 26px 30px;
      margin-bottom: 40px;
      @media (max-width: 576px) {
        grid-template-columns: 1fr;
      }
    }

    &-row {
      grid-column: 1 / -1;
    }
  }

  &__btn-checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__checkbox {
    max-width: 315px;
  }
}

.offices {
  $gap: 240px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    @extend %h1;
    color: $gray900;
    margin-bottom: 24px;
  }

  &__desc {
    @extend %large-regular;
    color: $gray700;
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 50px $gap;
    @extend %base-regular;
    text-align: left;
    width: 100%;
    margin-bottom: 120px;
    color: $gray900;
    @media (max-width: 576px) {

    }
  }

  &__item {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: calc(-1 * ($gap / 2));
      height: 100%;
      width: 1px;
      background: url('@img/global/benefits/divider.svg') no-repeat center / contain;
    }

    &:last-child::after,
    &:nth-child(3n)::after {
      content: unset;
    }
  }

  &__item-title {
    @extend %h3;
    margin-bottom: 24px;
  }

  &__address {
    margin-bottom: 4px;
  }

  &__map-link {
    display: block;
    text-decoration: underline;
    color: $primary;
    margin-bottom: 20px;
  }

  &__contacts {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &-item {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &-title {
      color: $gray700;
    }

    &-link {
      transition: color .2s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        color: $primary;
      }
    }
  }

  &__find {
    &-title {
      @extend %h1;
      color: $gray900;
      margin-bottom: 40px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 24px;
    }

    &-link {
      fill: $gray700;
      transition: fill .2s ease-in-out;

      &:hover,
      &:focus-visible,
      &:active {
        fill: $primary;
      }
    }

    &-icon {
      width: 32px;
      height: 32px;
    }
  }
}


// Pages

.index {
  &__banner {
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__presentation {
    margin-bottom: 180px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__benefits {
    &-list {
      margin-bottom: 120px;
      @media (max-width: 768px) {
        margin-bottom: 60px;
      }
    }

    &-question {
      margin-bottom: -92px;
      @media (max-width: 768px) {
        margin-bottom: -46px;
      }
    }
  }

  &__serve {
    padding-top: 212px;
    padding-bottom: 80px;
    margin-bottom: 120px;
    background: $gray200 url('@img/index/services/bg-image.png') no-repeat center / cover;
    @media (max-width: 768px) {
      padding-top: 106px;
      padding-bottom: 40px;
      margin-bottom: 60px;
    }
  }

  &__projects {
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__partners {
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: $gray200;
    @media (max-width: 768px) {
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }

  &__review {
    padding-top: 80px;
    background-color: $gray200;
    @media (max-width: 991px) {
      padding-bottom: 80px;
    }
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__statistics {
    padding-top: 180px;
    padding-bottom: 180px;
    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__newsy {
    padding-bottom: 120px;
    @media (max-width: 768px) {
      padding-bottom: 60px;
    }
  }
}

.services {
  &__hero {
    background-image: url('@img/global/hero/services-bg.png');
  }

  &__maintenance {
    position: relative;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 180px;
    @media (max-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &-bg {
      position: absolute;
      width: 791px;
      height: 637px;
      opacity: 0.3;
      background: url('@img/global/bg.png') no-repeat center / contain;

      &_center {
        top: 38.44%;
        right: -395px;
        transform: rotate(-58deg);
      }

      &_bottom {
        bottom: -83px;
        left: -498px;
        transform: rotate(213deg) scale(-1, 1);
      }
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }
}

.services-1 {
  &__hero {
    margin-bottom: 120px;
    background-image: url('@img/global/hero/services-1-bg.png');
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__offer {
    margin-bottom: 180px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__steps {
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__benefits {
    padding-top: 80px;
    margin-bottom: 180px;
    @media (max-width: 768px) {
      padding-top: 40px;
      margin-bottom: 60px;
    }
    &-list {
      margin-bottom: 100px;
      @media (max-width: 768px) {
        margin-bottom: 60px;
      }
    }

    &-btn {
      margin-bottom: -26px;
      padding-left: 112px;
      padding-right: 112px;
      @media (max-width: 576px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &__projects {
    margin-bottom: 100px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__pricing {
    position: relative;
    overflow: hidden;
    background-color: $gray200;
    padding-top: 80px;
    padding-bottom: 120px;
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 60px;
    }
    &::before {
      content: '';
      position: absolute;
      top: -169px;
      left: -582px;
      width: 1066px;
      height: 859px;
      opacity: 0.3;
      background: url('@img/global/bg.png') no-repeat center / contain;
      transform: rotate(126deg);
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }

  &__partners {
    background-color: $gray200;
    padding-bottom: 120px;
    @media (max-width: 768px) {
      padding-bottom: 60px;
    }
  }
}

.work {
  &__hero {
    background-image: url('@img/global/hero/work-bg.png');
  }

  &__works {
    margin-bottom: 100px;
    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
  }

  &__review {
    padding-top: 80px;
    margin-bottom: 180px;
    background-color: $gray200;
    @media (max-width: 991px) {
      padding-bottom: 80px;
    }
    @media (max-width: 768px) {
      padding-right: 40px;
      padding-bottom: 60px;
      margin-bottom: 60px;
    }
  }

  &__partners {
    margin-bottom: 120px;
    background-color: transparent;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }
}

.work-1 {
  &__hero {
    position: relative;
    margin-bottom: 100px;
    background: none;
    padding-bottom: 0;
    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
    &::before {
      content: '';
      position: absolute;
      right: -370px;
      top: 48px;
      transform: rotate(180deg);
      width: 854px;
      height: 822px;
      opacity: .12;
      background: url('@img/global/bg-2.png') no-repeat center / contain;
    }

    .container {
      z-index: 1;
    }

    &-title {
      @extend %display-2;
      color: $gray900;
      margin-bottom: 60px;
    }
  }

  &__info {
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__decisions {
    margin-bottom: 180px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__projects {
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }
}

.about {
  &__hero {
    background-image: url('@img/global/hero/about-bg.png');
    background-position: bottom right;
  }

  &__achieve {
    padding-bottom: 120px;
    padding-top: 120px;
    position: relative;
    overflow: hidden;
    @media (max-width: 768px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
    &::before {
      content: '';
      position: absolute;
      right: -367px;
      bottom: -294px;
      width: 1024px;
      height: 825px;
      opacity: 0.2;
      transform: scale(1, -1) rotate(60deg);
      background: url('@img/global/bg.png') no-repeat center / contain;
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }

  &__benefits {
    background-color: $gray200;
    padding-top: 80px;
    padding-bottom: 80px;
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__history {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 120px;
    background-color: $gray200;
    @media (max-width: 768px) {
      padding-top: 50px;
      padding-bottom: 50px;
      margin-bottom: 120px;
    }
  }

  &__partners {
    margin-bottom: 180px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
    &-title {
      margin-bottom: 24px;
    }
  }

  &__team {
    position: relative;
    overflow: hidden;
    padding-bottom: 120px;
    @media (max-width: 768px) {
      padding-bottom: 60px;
    }
    &::before {
      content: '';
      position: absolute;
      left: -487px;
      bottom: -130px;
      width: 791px;
      height: 637px;
      opacity: 0.3;
      transform: rotate(126deg);
      background: url('@img/global/bg.png') no-repeat center / contain;
    }

    .container {
      position: relative;
      z-index: 1;
    }
  }

  &__worldwide {
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: $gray200;
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  }
}

.positions {
  &__hero {
    background-image: url('@img/global/hero/positions-bg.png');
    background-position: bottom right;
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__vacancy {
    margin-bottom: 180px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__benefits {
    margin-bottom: 180px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &-modal {
    &_cv {
      .positions-modal__last-field {
        margin-bottom: 4px;
      }
    }

    &__title {
      @extend %h3;
      margin-bottom: 24px;
    }

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__field-block {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 40px;
    }

    &__btn {
      width: 100%;
    }
  }
}

.news {
  &__hero {
    position: relative;
    background-image: url('@img/global/hero/news-bg.png');
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__categories {
    margin-bottom: 180px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }
}

.post {
  &__hero {
    &-content {
      width: 100%;
      max-width: 100%;
      margin-bottom: 40px;
    }

    &-title {
      @extend %display-2;
      margin-bottom: 48px;
      text-transform: none;
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;
    }

    &-info {
      svg {
        width: 20px;
        height: 20px;
      }
      .post-info__category {
        @extend %base-bold;
        color: $primary;
      }
      .post-info__comment {
        @extend %base-regular;
      }
    }

    &-social {
      display: flex;
      align-items: center;
      gap: 12px;

      &-link {
        fill: $gray700;
        transition: fill .3s ease-in-out;

        &:hover,
        &:focus-visible,
        &:active {
          fill: $primary;
        }
      }

      &-icon {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__content {
    margin-top: -80px;
    margin-bottom: 180px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
      margin-top: -40px;
    }
    &-main {
      margin: 0 auto;
      max-width: 810px;
      width: 100%;
    }
    &-img {
      &-wrap {
        width: 100%;
        margin-bottom: 80px;
      }

      background: url('@img/news/categories/image-1.jpg') no-repeat center / cover;
      padding-bottom: 40.65%;
      border-radius: 4px;
    }
  }

  &__article {
    margin-bottom: 80px;
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &__comments {
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }
}

.contacts {
  &__hero {
    background-image: url('@img/global/hero/contacts-bg.png');
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__shape {
    margin-bottom: 120px;
    @media (max-width: 768px) {
      margin-bottom: 60px;
    }
  }

  &__offices {
    padding-top: 80px;
    padding-bottom: 120px;
    background-color: $gray200;
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  }
}
